$bg: #f5f5f5;
$bg-2: #fbfbfb;

$fstitle: 50px;
$fssubtitle: 30px;
$fstext: 16px;
// $fstitle-mobile: 26px;

$fwtitle: 600;

$dark-color: #000;
$light-color: #414141;
$whight-color: #fff;
$accent-color: #fc6744;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);