.services .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    border-radius: 2px;
    filter: drop-shadow(0 0 18px rgba(20,20,21,0.2));
    background-color: $whight-color;
}
.services {
    &__link-inner {
        margin-right: 120px;
    }
    &__title {
        @include fonts($fssubtitle,$dark-color,1.5);
        text-transform: capitalize;
        margin-bottom: 20px;
    }
    &__block &__line {
        width: 57px;
        height: 3px;
        background-color: #ff5c36;
        margin-bottom: 20px;
    }
    &__text {
        @include fonts($fstext,$dark-color,1.5);
        margin-bottom: 30px;
    }
    &__btn {
        filter: drop-shadow(1.91px 10.833px 10px rgba(20,20,21,0.07));
        background-color: $whight-color;
        border: 1px solid rgba(1,2,2,0.07);
    }
}
